<!DOCTYPE html>
<html>
  <head>
    <title>Etsy ColorGathr!</title>
	
  </head>
  <body>

    <!-- ColorGathr App Interface -->

	<div id="colorGathrApp">

		<div class="content">
			<div class="title">
				<h1><img src="/images/logo.jpg" alt="logo"></h1><P>
				<P>
				<h2>Give people your sharecode, collect the Etsy products they have.</h2>
			

			<ul class="colors">
			
			

							<li id="color-81680160" class="color" style="border-width:5px; background:url('http://img1.etsystatic.com/il_570xN.270584489.jpg') 
							no-repeat; ;"><span style="padding=5px; background-color:grey">Vintage Game Pieces Halloween Altered Art Assemblage Orange Black</span></li>


							<li id="color-82003464" class="color" style="border-width:5px; background:url('http://img2.etsystatic.com/il_570xN.271735782.jpg') 
							no-repeat; ;"><span style="padding=5px; background-color:grey">Vinage Lacers: Brown leather Roper boots by Justin .Sexily Distressed and Criminally Unworn .size Mens 4D or Womens 6</span></li>


							<li id="color-49560604" class="color" style="border-width:5px; background:url('http://img3.etsystatic.com/il_570xN.266979411.jpg') 
							no-repeat; ;"><span style="padding=5px; background-color:grey">Soft White Dandelion - Fine Art Flower Photograph Print (8x10)  Amethyst - dreamy shabby chic fall autumn harvest</span></li>


							<li id="color-81020344" class="color" style="border-width:5px; background:url('http://img3.etsystatic.com/il_570xN.268463263.jpg') 
							no-repeat; ;"><span style="padding=5px; background-color:grey">Vintage Flower Garden- Reinvented Vintage Bib Necklace</span></li>


							<li id="color-82002168" class="color" style="border-width:5px; background:url('http://img3.etsystatic.com/il_570xN.271698931.jpg') 
							no-repeat; ;"><span style="padding=5px; background-color:grey">Upcycled Chain Belt Buckle</span></li>
			
		  </ul>
		<h2>Your sharecode is: {{username}}</h2>
		
	 <div id="insert-code">
      
		<form method="POST" action="/collect">
        <input id="new-code" name="new-code" placeholder="Enter their code here" type="text" />
        <P><span style="display:none;">Press Enter to submit code</span>
        <input type="submit" value="Submit" />
        <input type="hidden" name="username" value="{{username}}" />
      </form>

	</div>
		</div>
	  </div>
	</div>
  </body>

  <link href="/stylesheets/colorGathr.css" media="all" rel="stylesheet" type="text/css"/>
  <script src="/javascripts/lib/vendor/json2.js"></script>
</html>
