!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/colorGathr.css')
    script(type='text/javascript', src='/javascripts/lib/vendor/json2.js')
    script(type='text/javascript', src='/javascripts/lib/vendor/jquery-1.5.js')
    script(type='text/javascript', src='/javascripts/lib/vendor/underscore-1.1.6.js')
    script(type='text/javascript', src='/javascripts/backbone.js')
    script(type='text/javascript', src='/javascripts/backbone-localstorage.js')
  body!= body
